sudo: false
language: rust
os:
  - linux
  - osx
rust:
    - beta
    - nightly
    - stable
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
script:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
  - cargo test
  - cargo doc
